.restaurent-header-container{
  width: 70%;
}

.restaurent-header-container-full-width{
  width: 100%;
}

.res-cart-container{
  width: 30%;
}

.res-container{
  display: flex;
  flex-direction: row;
}

.res-image-container{
  width: 80%;
  padding: 1%;
  display: flex;
}

.res-adress-container{
  width: 100%;
  display: flex;
  padding: 1%;
}