.tab-container{
  width:100%;
}

.cat-name{
  margin: 2% 0 2% 4%;
}

.item-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 95%;
  min-width: 75%;
  margin: 4%;
}

.item-card div{
  margin: 0 2%;
}

.item-card-container{
  width: 94%;
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
}

.category-theme{
  margin: 0 0 4% 0;
}

.btn-div-cont{
  position: relative;
}

.add-btn{
  /* position: absolute;
  right: 25%;
  bottom: 10%; */
  width: 100%;
    display: flex;
    justify-content: center;
}

.add-btn button{
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
}

.in-de-btn{
  width: 50%;
}

.add-tab-btn{
  margin: auto !important;
}


.card1{
  width:10%;
}

.card2{
  width:60%;
}

.card3{
  width:30%
}

@media screen and (max-width: 780px){
  .item-card-container{
    width: 94%;
    display: grid;
    grid-template-columns: auto;
    margin: auto;
  }
}