.home_button,
.office_button,
.other_button {
    width: 90%;
    height: 105%;
    border-radius: 11%;
    border: 1px solid black !important;
    color: black!important;
    background-color: white!important;
}

.confirm_btn {
    border-radius: 60px;
    width: 75%;
    margin: auto;
}

.Account {
    text-align: center;
}

.btn-close {
    color: red;
}

.column-gap {
    column-gap: 5%;
}

.btnClass {
    background-color: red;
}

.btnClass.clicked {
    background-color: green;
}

.activeclassTabValue {
    /* width: 90%;
  height: 105%; */
    width: 90%!important;
    height: 105%;
    color: white;
    background-color: #FF6838;
}

.btn:hover {
    background-color: #FF6838!important;
    color: white!important;
}

.locationPopUp_Header .btn-close {
    position: absolute;
    left: 90%;
    top: 4%;
}

.locationPopupForm {
    margin-top: -9%;
}

.css-1okebmr-indicatorSeparator {
    width: 0px!important;
}

.css-tlfecz-indicatorContainer {
    display: none!important;
}

.css-yk16xz-control {
    border: 1px solid black !important;
}

.input-style{
    margin-top: 2%;
}
