



.itemImageSearch{
    width: 20.5vw;
    margin-top: -6%;
    margin-left: -6%;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 18px !important;
    border-top-right-radius: 18px !important;
}