.modal-header{
    border-bottom: none;
}
.cartItem{
border-radius: 20px;
}
.itemType{
color: green;
border: 3px solid green;
font-size: 150%;
}
.itemText{
font-weight: 500;
font-size: larger;
}
.itemDescription{
    font-size: 87%;
    font-weight: 500;
}
.closeButton{
    font-size: larger;

}
.itemImages{
   
     border: 1px;
     border-radius: 14px;
}
.CartButton{
width: 200%;
}