.modal-header{
    border-bottom: none;
}
.cartItem{
    border-radius: 20px;
    min-height: 150px;
}

.no-data{
    padding: 5%;
}

.itemType{
    color: green;
    border: 3px solid green;
    font-size: 150%;
}
.itemText{
    font-weight: 500;
    font-size: larger;
    margin-left: 20px;
}
.itemDescription{
    font-size: 87%;
    font-weight: 500;
    overflow: hidden;
    display: inline-block;
}
.closeButton{
    font-size: larger;

}
.itemImages{
    border-radius: 25px;
    width: 80%;
    height: 80%;
    padding: 8%;
}
.cart-btn{
    width: 30%;
    margin: 3% auto;
}

.cart-container{
    display: flex;
}

.cart-img{
    width: 30%;
    height: 30%;
    min-width: 30%;
    min-height: 30%;
}

.cart-item{
    padding: 3% 0;
}