.icons-style{
    border:1px solid black;
    border-radius:50%;
    cursor: pointer;
    padding: 2% 4%;
}

.all-icon{
    font-size: 1.5vw;
    margin: auto;
    width: 100%;
}

.iconsRestaurentView{
    cursor: pointer;

}
.cardTitle{
    font-weight:700;
    font-size:150%;
}
.userProfileFilled{
    text-align: center;
    margin: 1%;
}

.your-cart-text{
    font-size: 2vw;
    text-align: center;
    margin: 4% 0 2% 0;
}

.clear-all{
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
}

.icons-container{
    display: flex;
    flex-direction: row;
    width: 55%;
    justify-content: space-evenly;
    margin: auto;
}

.cart-desc{
    font-Weight: 600;
    text-align: center;
    margin: 1% auto 1% auto;
    width: 70%;
}

.cutlery-content{
    margin: 1% auto 1% 4%;
    width: 100%;
    font-size: 1vw;
}

.higlight{
    cursor: pointer;
}