.scroll-to-top {
    border-radius: 25px!important;
    background-color: orangered!important;
    width: 56px!important;
    height: 47px!important;
}

.useful {
    color: #FF6838;
    font-size: 1.4vw;
    font-weight: bold;
    /* font-family: 'Nunito', sans-serif; */
}

.hometextinfooter {
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
}

.one svg {
    width: 22px;
    height: 22px;
    fill: white;
    font-weight: 30px;
}

.media_icon {
    width: 100%;
    height: 35%;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .footerSection {
        margin-left: 2%!important;
        margin-right: 2%!important;
        margin-top: -9%!important;
    }
    .desiEats_Description {
        color: black!important;
        text-align: justify!important;
        font-weight: 700!important;
    }
}

.AppStoreIcon {
    width: 93%!important;
    margin-top: -17%!important;
    height: 35%;
    cursor: pointer;
}

.DownloadOptions {
    margin-left: -3%;
}

.InstagramFooter,
.FaceBookFooter,
.TwitterFooter {
    cursor: pointer;
}