.sign{
  width: 70%;
    height: 66%;
    font-size: large;
    border-radius: 25px;
    font-weight: 500;
    overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

  .menu{
    position: absolute;
    top: 2%;
    right: 19%;
    height: 8%;
    width: 4%;
    border-radius: 30px;
    background: white;
    color: black;
    box-shadow: none;
    border: 1px solid black;
  }
  .menu1,.menu2,.menu3,.menu4{
    height: 45px;
    width: 14%;
    border-radius: 25px;
    box-shadow: none;
    background-color: white!important;
   color: black!important;
   border: 1px solid black!important;

  }
  @media screen and (max-width: 500px) {

  }