.btn{
    background-color: #FF6838;
    color: white;
    /* border: none; */
    cursor: pointer;
    border: 1px solid white;
  }
  .btn:hover{
    background-color: white!important; 
    color: #FF6838ed!important;
    cursor: pointer;
    border:  1px solid black!important;

  }
  
  body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: orangered;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }

  body {
    scrollbar-width: thin; 
  }