.btn{
    background-color: #FF6838;
    color: white;
    /* border: none; */
    cursor: pointer;
    border: 1px solid white;
  }
  .btn:hover{
    background-color: white!important; 
    color: #FF6838ed!important;
    cursor: pointer;
    border:  1px solid black!important;

  }
  
  body::-webkit-scrollbar {
    width: 8px;               
  }
  
  body::-webkit-scrollbar-track {
    background: white;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: orangered;   
    border-radius: 20px;      
  }

  body {
    scrollbar-width: thin; 
  }