.ThreeDotsIcon {
    width: 2vw;
    height: 2vw;
    font-weight: 900;
}

.DesiEatsImageLanding {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .DesiEatsImageLanding {
        width: 23vw!important;
        margin-left: -45%!important;
        margin-top: 11px;
    }
}